api/proto/svc-client
api/proto/svc-course

bin

cmd/main
cmd/svc-client
cmd/svc-course

config/envs/client.env
config/envs/course.env
config/envs/main.env
config/main.go

database
docker

internal/services/main
internal/services/svc-client
internal/services/svc-course

schema
shared/uploads
sources
web
db.env
docker-compose.yaml
Makefile
makefiledata.env